<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrimLink</title>
    <link rel="icon" href="./requirements/logoURL.png" type="icon">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700&display=swap');
</style>
<link rel="stylesheet" href="css/dashboard.css">
{{!-- <script defer src="./js/signup.js"></script> --}}
<script defer src="./js/typedDashboard.js"></script>
<script defer src="./js/logicDashboard.js"></script>
<script defer src="./js/smoothScroll.js"></script>


<body>
    <header>
        <img src="./requirements/logo.png" alt="appLogo" id="logo">
        <nav>
            <ul>
                <li id="userDetails">{{userName}}</li>
                <li id="nav_generate">Generate</li>
                <li id="nav_dashboard">Dashbord</li>
                <li id="LogOut">Logout</li>
            </ul>
        </nav>
    </header>
    <main>

        {{!-- section1 --}}
        <section class="section1 smooth">
            <div class="generate">
                <form action="/generate" method="post" id="generateForm">
                    <input id="url" type="text" placeholder="Enter / paste your URL here." name="url" required>
                    <input type="text" placeholder="Enter a Name." name="urlName" required>
                    <button type="submit">Generate</button>
                </form>
            </div>
            <div id="typed" >
                <label for="element" class="text_highlight">From</label>
                <label for="element">https://someurl.com/dashboard/brand-details/stitch/templates/letterheads... to </label>
                <div id="typedText">
                <div></div>
                <span id="element" class="color"></span>
                </div>
            </div>
        </section>

        <hr>

        {{!-- section 2 --}}

        <section class="section2 smooth" id="dashboard">
            <div id="dashboard_title" class="smooth">
                <h2>Dashboard</h2>
            </div>
            <div class="table smooth">
                <table class="smooth">
                    <thead>
                        <tr>
                            <th class="smooth" id="URLname">name</th>
                            <th class="smooth" id="longURL">Original URL</th>
                            <th class="smooth urlid" id="URLID">URL ID</th>
                            <th class="smooth" id="totalClicks">Clicks</th>
                            <th class="smooth" id="openURL">Redirect</th>
                            <th class="smooth" id="copyURL">Copy</th>
                            <th class="smooth" id="delete">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userData}}
                        <tr>
                            <td>{{this.redirectURLName}}</td>
                            <td>{{this.redirectURL}}</td>
                            <td class="urlid">{{this.shortId}}</td>
                            <td>{{this.analytics.length}}</td>
                            <td>
                                <div class="btn">
                                    <a href={{this.trimlinkURL}}>
                                        <div>Open</div>
                                    </a>
                                </div>
    
                            </td>
                            <td>
                                <div class="btn copybtn">
                                        Copy
                                    <span class="copybtn_span">
                                        {{this.trimlinkURL}}
                                    </span>
                                    </a>
                                </div>
    
                            </td>
                            <td>
                                <div class="btn deletebtn">
                                    <a href='/deleteurl/{{this.shortId}}'>
                                        <div>Delete</div>
                                    </a>
                                </div>
    
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </section>


    </main>


    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>About Us</h4>
                <p>TrimLink: Simplifying and shortening your URLs for seamless sharing.</p>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 TrimLink. All rights reserved.</p>
            </div>
    </footer>
</body>

</html>